<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <item name="Assembly" value="We7.Plugin.Passport.Discuz.dll" />
  <item name="ClassName" value="We7.Plugin.Passport.App_DiscuzNT30" />
  <item name="ConfigString" value="api_key=e386216bd6966ca15461fccb961ab58b;secret=6be2de46bb35884e01e9c4c4b1b32124;url=http://www.tj.com:81/" />
</configuration>