<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <item key="JoinAssembly" value="We7.CMS.Utils"/> <!--程序集-->
        <item key="IsOpen" value="true"/> <!--此开关为是否启用此功能（因为此功能需要用到的时候要损耗一些性能）-->
        <item key="DataBaseAssistant" value="We7.CMS.Data.DataBaseAssistant"/>
        <item key="JoinEx" value="We7.CMS.Data.JoinEx"/> <!---IJoin-->
        <item key ="AddJoinMethod" value="AddDic"/>   <!--添加字典方法名(用于添加Ijoin里的字典成员)-->
    </appSettings>
</configuration>