<?xml version="1.0" encoding="utf-8" ?>
<Menus>
  <Menu title="资讯模块" code="100" href="News/Add.aspx" img="images/index-nav-img-1.gif">

    <Link title="发布资讯" code="101" href="News/Add.aspx"></Link>
    <Link title="资讯管理" code="102" href="News/List.aspx"></Link>

  </Menu>
  <Menu title="类别模块" code="200" href="Class/List.aspx" img="images/index-nav-img-2.gif">
    <Link title="分类添加" code="201" href="Class/Add.aspx"></Link>
    <Link title="分类管理" code="202" href="Class/List.aspx"></Link>
  </Menu>
  <Menu title="模版模块" code="300" href="Manage/Temple.aspx" img="images/index-nav-img-4.gif">
    <Link title="系统模板管理" code="301" href="Manage/Temple.aspx"></Link>
    <Link title="自定义标签增加" code="302" href="Tag/Add.aspx"></Link>
    <Link title="自定义标签管理" code="306" href="Tag/List.aspx"></Link>

  </Menu>
  <Menu title="表单管理" code="400" href="Form/FBList.aspx" img="images/index-nav-img-5.gif">
      <Link title="评论管理" code="401" href="Form/FBList.aspx"></Link>
      <Link title="报名管理" code="402" href="Form/BmList.aspx"></Link>
      <Link title="表单回复管理" code="403" href="Form/RList.aspx"></Link>
    <Link title="表单管理" code="404" href="Form/List.aspx"></Link>
    <Link title="表单添加" code="405" href="Form/Add.aspx"></Link>
     
  </Menu> 
  <Menu title="系统管理" code="500" href="Manage/SysConfig.aspx" img="images/index-nav-img-6.gif">
    <Link title="系统参数设置" code="501" href="Manage/SysConfig.aspx"></Link>
    <Link title="管理员管理" code="502" href="Manage/AdminList.aspx"></Link>
    <Link title="密码修改" code="503" href="Manage/Pwadd.aspx"></Link>
   <Link title="操作日志" code="503" href="Manage/LogList.aspx"></Link>
  </Menu>
</Menus>
