<?xml version="1.0"?>
<SysSet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WebName>50cms网站</WebName>
  <WebUrl />
  <WebTel>3213</WebTel>
  <WebEmail />
  <WebCrod />
  <WebKeywords>ewqewqe</WebKeywords>
  <WebDescription />
  <WebPath>/</WebPath>
  <WebFilePath>upload</WebFilePath>
  <WebFileType>GIF|JPG|PNG|BMP|RAR|DOC|XLS|TXT|SWF|ewwqew</WebFileType>
  <WebFileSize>9024</WebFileSize>
  <IsWatermark>0</IsWatermark>
  <WatermarkStatus>0</WatermarkStatus>
  <ImgQuality>0</ImgQuality>
  <ImgWaterPath />
  <ImgWaterTransparency>0</ImgWaterTransparency>
  <WaterText />
  <WaterFont />
  <FontSize>0</FontSize>
  <WebLog>true</WebLog>
  <NewsRule>false</NewsRule>
</SysSet>