@charset "utf-8";
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
fieldset, img{border:0;}
table{border-collapse: collapse;border-spacing:0;}
ol,ul{list-style: none;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight: normal;font-size: 100%;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
/**resetend**/
body{ background:url(../comm/bg_line.png) repeat-x rgb(142,193,218); font-family:'微软雅黑'; font-size:12px}
#wrap{width:100%; background:url();}
#main{ width:900px; margin:0px auto; position:relative}
#logo{padding-top:60px;}
#rbtn{background:url(../login/reg_lbtn.png) no-repeat; width:243px; height:95px; position:absolute; top:-20px;right:30px;}
#lbtn a,#rbtn a{ display:block; text-decoration:none; margin:25px 0px 0px 123px; color:#348EB9; font-size:18px}



/*注册框*/
#regbox{ background:url(../login/regbg.png) no-repeat; width:470px; height:400px;}
#regbox #regarea{padding:20px;}
#regbox #regarea h1{font-size:22px; padding-left:22px; letter-spacing:5px;color:#4597BE; float:left}
#regbox #regarea .filed{ margin:18px 10px 18px 0px; width:340px; position:relative}
#regbox #regarea .filed label{height:40px; line-height:40px;width:80px; overflow:hidden; font-size:18px; color:#4597BE; text-align:right;letter-spacing:5px; float:left}
#regbox #regarea .filed .input{ width:233px; border:0px; height:40px; line-height:40px; padding-left:8px;background-color: transparent; background:url(../login/langinput.png) no-repeat; float:left}
#regbox #regarea .filed .input2{ width:138px; border:0px; height:40px; line-height:40px; padding-left:8px;background-color: transparent; background:url(../login/langinput2.png) no-repeat; }
#regbox #regarea .filed .curr{background:url(../login/langinputcurr.png) no-repeat;}
#regbox #regarea .filed .regBtn{width:140px; height:42px; overflow:hidden;  background:url(../login/regbtn.png) no-repeat; border:0px; cursor:pointer;}
#regbox #regarea .filed .regcurr{width:25px; height:26px;background:url(../login/reg_cur.png) no-repeat; position:absolute; left:180px; top:9px}
#regbox #regarea .filed .loading{width:32px; height:32px;background:url(../comm/loadsmall.gif) no-repeat; position:absolute; left:180px; top:12px}
/*气球*/
#BalloonA{position:absolute;z-index:1; right:-51px; background:url(../login/BalloonA.png) no-repeat; width:278px; height:379px; display:none}
#BalloonB{position:absolute;z-index:1; background:url(../login/BalloonB.png) no-repeat; left:30px; top:360px;width:115px; height:156px; display:none}


/*ie6*/
.ie6{font-size:12px; line-height:1.5em; font-family:'宋体'; color:#006}
.ie6 h1{font-size:18px; padding:5px 0px;color:#2586B3; font-weight:bold;text-shadow:1px 1px 1px #FFF; font-family:'微软雅黑'}

/*footer*/
#footer{ background:url(../login/cloud.png) left top repeat-x; height:260px; width:100%; clear:both; position:absolute;  top:76px; z-index:-1}
*
#copyright{ width:100%; height:100px; top:100%; position:absolute; margin-top:-100px; font-size:14px; text-align:center; color:#2F8CB8; }
#copyright .nav{ padding-top:55px; text-align:center;}
#copyright .nav li{ display:inline; margin-right:15px}
#copyright .nav li a,#copyright .copy a{color:#2F8CB8;text-decoration:none;text-shadow: 1px 1px 1px #FFFFFF; }
#copyright .nav li a:hover,#copyright .copy a:hover{color:#2D83AC; font-weight:bold}
#copyright .copy{font-size:12px; margin:5px 0px; clear:both}

#errmsg{ font-size:12px; color:#FB1C4E; margin-left:5px;}
/*plugin public*/
.backToTop { display: none; width: 18px; line-height: 1.2; padding: 5px 0; background-color: #000; color: #fff;font-size: 12px;text-align: center;
    position: fixed; _position: absolute; right: 10px; bottom: 200px; _bottom: "auto"; cursor: pointer; opacity: .6; filter: Alpha(opacity=60);
}
.clear{clear:both;}
.clearfix{overflow:auto; zoom:1;}

