<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- url重写 必须放在<configuration><configSections>里面 -->
        <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
    </configSections>
    <RewriterConfig>
        <Rules>
            <!-- Rules for Blog Content Displayer -->
            <RewriterRule>
                <LookFor>~/list(.*).aspx</LookFor>
                <SendTo>~/default.aspx?type=list&amp;ID=$1</SendTo>
            </RewriterRule>
            <RewriterRule>
                <LookFor>~/index.html</LookFor>
                <SendTo>~/default.aspx</SendTo>
            </RewriterRule>
            <RewriterRule>
                <LookFor>~/pages_(.*)_(.*).aspx</LookFor>
                <SendTo>~/default.aspx?type=read&amp;ID=$1&amp;NID=$2</SendTo>
            </RewriterRule>
            <RewriterRule>
                <LookFor>~/shlist.aspx</LookFor>
                <SendTo>~/default.aspx?type=search</SendTo>
            </RewriterRule>
            <RewriterRule>
                <LookFor>~/shlist.aspx</LookFor>
                <SendTo>~/default.aspx?type=search</SendTo>
            </RewriterRule>
            <RewriterRule>
                <LookFor>~/Form(.*).aspx</LookFor>
                <SendTo>~/default.aspx?type=Form&amp;ID=$1</SendTo>
            </RewriterRule>

            <RewriterRule>
                <LookFor>~/myForm(.*).aspx</LookFor>
                <SendTo>~/default.aspx?type=myForm&amp;ID=$1</SendTo>
            </RewriterRule>

        </Rules>
    </RewriterConfig>
    <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="wwwroot" value="" />
    <add key="skin" value="temple" />
  </appSettings>
    <connectionStrings>
        <!-- 链接字符串 开发的时候使用D:\50cms2014\App_Data\2013 这样的路径 架设的时候用-->
    <add name="Entities" connectionString="metadata=res://*/App_Code.Models.ModSQL.csdl|res://*/App_Code.Models.ModSQL.ssdl|res://*/App_Code.Models.ModSQL.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=|DataDirectory|\2013&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>   
    <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
        <!--*******************************************************************************
	          Comment either the <httpModules> or <httpHandlers> section to use
			  URL rewriting... 
	    *******************************************************************************-->
        <httpModules>
            <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />
        </httpModules>
  </system.web>
    <system.web.extensions />    
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true"></modules>
  </system.webServer>
</configuration>